.flex-grid {
  margin: 10px ;
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr;
  justify-content: center;
  align-items: center; 
}

.heading {
  display: flex;
  flex-direction: column;
  align-items: left;
  margin: 10px;
}

.select {
  padding: 8px 12px;
  color: black;
  background-color: white ;
  border: 1px solid grey;
  cursor: pointer;
  border-radius: 3px;  
}

@media screen and (min-width: 600px){ 
  .heading {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;    
  }

  .flex-grid {
    grid-template-columns: repeat(auto-fit, minmax(14rem, 16rem));
  }
}