.flex-grid {
  margin: 10px ;
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr;
  justify-content: center;
  align-items: center; 
}

@media screen and (min-width: 600px){ 
  .flex-grid {
    grid-template-columns: repeat(auto-fit, minmax(14rem, 16rem));
  }
}